<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>servicio</title>
    <!--para realizar las conección con css-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/contacto.css')}}">
</head>
<img src="static/logo.jpg">
<body>
    <header>
        <label for = "menu" >
            <nav class ="menu">
                <ul>
                    <li><a href="/">Inicio</a></il>
                    <li><a href="servicio">Servicio</a></il>
                    <li><a href="contacto">Contacto</a></il>
                    <li><a href="sucursales">Sucursales</a></il>
                    <li><a href="https://cosmobook.pe/">Libros</a></il>
                    <li><a href=""></a></il>
                </ul>
            </nav>
        </label>
    </header>
</body>
<center><h1>Sucursales</h1></center>
</form>
</html>